<div class="row justify-content-center">
    <div class="col-8">
        <div class="row">
            <span class="col-" id="username">username</span>
            <span class="col- ml-auto" id="accountid">accountid</span>
        </div>
        <div class="row">
            <span class="col-">Balance:</span>
            <span id="balance" class="col">$...</span>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row justify-content-center">
            <ul class="nav nav-pills md-tabs nav-justified col">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#deposit_info" role="tab"
                        aria-controls="deposit_info">Deposit Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#billing_info" role="tab"
                        aria-controls="billing_info">Billing
                        Info</a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <form method='POST' class="needs-validation" novalidate action='' enctype="multipart/form-data">

                    <div class="tab-content card">
                        <div class="tab-pane fade in show active" id="deposit_info" role="tabpanel">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="amount">Amount</label>
                                            <input id="amount" required name="amount" type="number" step="any"
                                                pattern="[-+]?[0-9]*[.,]?[0-9]+" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="depositType">Type</label>
                                            <select class="custom-select" id="depositType">
                                                <option selected>Choose...</option>
                                                <option value="credit">Credit</option>
                                                <option value="debit">Debit</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="card_number">Card Number</label>
                                            <input id="card_number" required name="card_number" type="text"
                                                pattern="[0-9]{16,19}" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="security_number">Security Code</label>
                                            <input id="security_number" required name="security_number" type="text"
                                                pattern="[0-9]{3,4}" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="expire">Expires</label>
                                            <input id="expire" required name="expire" type="date" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="billing_info" role="tabpanel">
                            <div class="row justify-content-center">
                                <div class="col-md-8 ">
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            <label for="address1">Address Line 1</label>
                                            <input id="address1" required name="address1" type="text" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="address2">Address Line 2</label>
                                            <input id="address2" required name="address2" type="text" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="city">City</label>
                                            <input id="city" required name="city" type="text" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="state">State</label>
                                            <input id="state" required name="state" type="text" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="zip">Zip/Postal Code</label>
                                            <input id="zip" required name="zip" type="text" value="">
                                        </div>
                                        <div class="form-group col-12">
                                            <label for="country">Country</label>
                                            <input id="country" required name="country" type="text" value="">
                                        </div>
                                    </div>
                                    <input type=submit value="Deposit">
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>


</div>