<form method='POST' class="needs-validation" novalidate action='' enctype="multipart/form-data">  
    <div class="tab-content card">
        <%- include ('./depositFormsPanes.ejs') %>
    </div>
</form>