<!-- views/partials/header.ejs -->

<%- include ('./toggleSecurity') %>
<%
let insecureCss = ""
if(!secure){insecureCss="background-color: red!important;"} 
%>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-bottom:20px;<%= insecureCss %>" >
    <a class="navbar-brand" href="/">Generic Banking Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/deposits">Deposits</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/withdrawals">Withdrawals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transfers">Transfers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<%- include('./alerts.ejs') %>