<p style="text-align:left;">
    <% if ( locals.uname ) { %>
        Logged in as <%= locals.uname %>
    <% } else {%>
        Not logged in
    <% } %>
    <script>
        function toInsecure() {
            var initial_url = window.location.href;
            var url = initial_url .split( '/' );
            var updated_url = '/insecure/' + url[ url.length - 1 ];
            console.log(updated_url);
            window.location.href = updated_url;
        }
        </script>
    <span style="float:right;">
        <a href="/api/togglesecurity">Toggle Security Mode</a>
    </span>
</p>