<p style="text-align:left;">
    <% if ( locals.uname ) { %>
        Logged in as <%= locals.uname %>
    <% } else {%>
        Not logged in
    <% } %>
    <script>
    function toSecure() {
        var initial_url = window.location.href;
        var url = initial_url .split( '/' );
        var updated_url = '/secure/' + url[ url.length - 1 ];
        console.log(updated_url);
        window.location.href = updated_url;
    }
    </script>
    <span style="float:right;">
        <button type="button" onclick="toSecure();">Insecure (click to change)</button>
    </span>
</p>