<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include ('./../partials/header') %>
    </header>

    <main>
        <h2 class="centerHeader">Homepage <%- include('./../partials/isSecureTitle.ejs') %></h2>

        <ul>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/injection.md"><b>Injection</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/brokenauthentication.md"><b>Broken Authentication</b></a></li>
            <li>Sensitive Data Exposure</li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/xmlexternalentity.md"><b>XML External Entities</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/brokenaaccesscontrol.md"><b>Broken Access Control</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/securitymisconfiguration.md"><b>Security Misconfiguration</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/cross_site_scripting.md"><b>Cross Site Scripting XSS</b></a></li>
            <li>Insecure Deserialization</li>
            <li><li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/vulnerable_components.md"><b>Using Components with Known Vulnerabilities</b></a></li></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/insufficientlogging.md"><b>Insufficient Logging and Monitoring</b></a></li>
        </ul>
    </main>

    <footer>
        <%- include ('./../partials/footer') %>
    </footer>

</body>

</html>
