<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include ('./../partials/header') %>
    </header>

    <main>
        <h2 class="centerHeader">Homepage<%- include('./../partials/isSecureTitle.ejs') %></h2>

        <ul>
            <li>Injection</li>
            <li><a href=""><b>Broken Authentication</b></a></li>
            <li>Sensitive Data Exposure</li>
            <li>XML External Entities</li>
            <li>Broken Access Control</li>
            <li>Security Misconfiguration</li>
            <li>Cross-Site Scripting XSS</li>
            <li>Insecure Deserialization</li>
            <li>Using Components with Known Vulnerabilities</li>
            <li>Insufficient Logging and Monitoring</li>
        </ul>
    </main>

    <footer>
        <%- include ('./../partials/footer') %>
    </footer>

</body>

</html>
