<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./../partials/head') %>
</head>

<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip({
    /* script handling explained here: https://stackoverflow.com/a/1659762 <script>alert(123)</scr'+'ipt>*/
    /*template: '<div class="tooltip tooltip-custom"><div class="title">Test</div><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'*/
  })
})
</script>

<body class="container">

    <header>
        <%- include ('./../partials/header') %>
    </header>

    <main>
        <h2 class="centerHeader">Homepage <%- include('./../partials/isSecureTitle.ejs') %></h2>

        <ul>
            <!-- the goal is to get data-target to fire in insecure, but not secure. Resources: 
                https://www.reddit.com/r/AskNetsec/comments/bokjrh/cve20198331_how_can_this_be_used_for_an_attack/
                
            -->
            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top" data-target="<img src=x onerror=alert(0)>">Tooltip on top</button>
            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left" data-target="<img src=x onerror=alert(0)>">Tooltip on left</button>

            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/injection.md"><b>Injection</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/brokenauthentication.md"><b>Broken Authentication</b></a></li>
            <li>Sensitive Data Exposure</li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/xmlexternalentity.md"><b>XML External Entities</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/brokenaaccesscontrol.md"><b>Broken Access Control</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/securitymisconfiguration.md"><b>Security Misconfiguration</b></a></li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/cross_site_scripting.md"><b>Cross Site Scripting XSS</b></a></li>
            <li>Insecure Deserialization</li>
            <li>Using Components with Known Vulnerabilities</li>
            <li><a href="https://github.com/martinky24/WebsiteSecurity/blob/main/Vulnerabilities/insufficientlogging.md"><b>Insufficient Logging and Monitoring</b></a></li>
        </ul>
    </main>

    <footer>
        <%- include ('./../partials/footer') %>
    </footer>

</body>

</html>
