.formLabelLogin {
    float: left;
    width: 28%;
}

.formInputLogin {
    float: left;
    width: 60%;
}

.formPairLogin {
    display: table-row;
}

.formTableLogin {
    display: table;
    margin: auto;
    padding-top: 20px;
    width: 100%;
}

#loginButton {
    left: 50%;
}

.centerHeader {
    text-align:center;
}

.transferDiv, .depositDiv {
    width: 70%;
}

.transferNav, .depositNav {
    
    background-color: #007bff;
}

.withdrawalDiv {
    width: 70%;
}

.withdrawalNav {
    background-color: #c300ff;
}