<form method='POST' class="needs-validation" novalidate action='/deposits' enctype="application/x-www-form-urlencoded">  
    <div class="tab-content card">
        <% if (secure) { %>
            <%- include('./../tabbedForm/depositInfoPane.ejs') %>
        <% } else { %>
            
        <% } %>
    </div>
    <input type=submit value="Deposit">
</form>