<div class="row justify-content-center">
    <div class="col-10">
        <div class="row">
            <span class="col-" id="username">username</span>
            <span class="col- ml-auto" id="accountid">accountid</span>
        </div>
        <div class="row">
            <span class="col-">Balance:</span>
            <span id="balance" class="col">$...</span>
        </div>
    </div>
</div>