<div class="row justify-content-center">
    <div class="col-10">
        <div class="row">
            <span class="col-" id="username">
                <% if (locals.username && username) { %>
                    User: <%= username %>
                  <% } %>
            </span>
            <span class="col- ml-auto" id="accountid">
                <% if (locals.account_number && account_number) { %>
                    Account Number: <%= account_number %>
                  <% } %>
            </span>
        </div>
        <div class="row">
            <span class="col-">Balance:</span>
            <span id="balance" class="col">
                <% if (locals.balance && balance) { %>
                    <%= balance %>
                  <% } %>
            </span>
        </div>
    </div>
</div>