<div class="row justify-content-center">
    <div class="col-10">
        <div class="row justify-content-center">
            <ul class="nav nav-pills md-tabs nav-justified col">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#deposit_info" role="tab"
                        aria-controls="deposit_info">Deposit Info</a>
                </li>
            </ul>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <%- include ('./depositForm.ejs') %>
            </div>
        </div>
    </div>
</div>