<div class="tab-pane fade in show active" id="deposit_info" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="depositType">Type</label>
                        <select class="custom-select" id="depositType" required>
                            <option selected>Choose...</option>
                            <option value="credit">Credit</option>
                            <option value="debit">Debit</option>
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label for="amount">Amount</label>
                        <input id="amount" required name="amount" type="number" step="any" pattern="[-+]?[0-9]*[.,]?[0-9]+"
                            value="">
                    </div>
                    <div class="form-group col-12">
                        <label for="card_number">Card Number</label>
                        <input id="card_number" required name="card_number" type="text" pattern="[0-9]{16,19}" value="">
                    </div>
                    <div class="form-group col-12">
                        <label for="security_number">Security Code</label>
                        <input id="security_number" required name="security_number" type="text" pattern="[0-9]{3,4}"
                            value="">
                    </div>
                    <div class="form-group col-12">
                        <label for="expire">Expires</label>
                        <input id="expire" required name="expire" type="date" value="">
                    </div>
                </div>
                <input type=submit value="Deposit">
            </div>
        </div>
    </div>