<div class="tab-pane fade" id="general_info" role="tabpanel">
    <div class="row justify-content-center">
        <div class="col-md-8 ">
            <div class="form-row">
                <div class="form-group col-12">
                    <label for="address1">Address Line 1</label>
                    <input id="address1" required name="address1" type="text" value="">
                </div>
                <div class="form-group col-12">
                    <label for="address2">Address Line 2</label>
                    <input id="address2" name="address2" type="text" value="">
                </div>
                <div class="form-group col-12">
                    <label for="city">City</label>
                    <input id="city" required name="city" type="text" value="">
                </div>
                <div class="form-group col-12">
                    <label for="state">State</label>
                    <input id="state" required name="state" type="text" value="">
                </div>
                <div class="form-group col-12">
                    <label for="zip">Zip/Postal Code</label>
                    <input id="zip" required name="zip" type="text" value="">
                </div>
                <div class="form-group col-12">
                    <label for="country">Country</label>
                    <input id="country" required name="country" type="text" value="">
                </div>
            </div>
        </div>
    </div>
</div>