<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>

<body class="container">

    <header>
        <%- include ('../../partials/headerSecure') %>
    </header>

    <main>
        <h2 class="centerHeader">Account Info</h2>

    </main>

    <footer>
        <%- include ('../../partials/footer') %>
    </footer>

</body>

</html>
